@font-face{
  font-family:intro;
  url(assets/fonts/intro/intro.css);
}
.header{
  background-color: #A62C6C;
  color: #EDEDED;
  border-bottom: 1px solid #5A5A5A;
  height: 80px;
}
.nav-bar{
  font-size: 1.3em;
  font-family: 'intro', cursive;
  font-weight: bold;
  background-color: #E177AF;
  color: #EDEDED;
}
.home{

}
.img-circle{
  width: 20em;
  height: 20em;
}
img{
  width: 100%;
  height: 100%;
}
.boost{
  font-size: 1.5em;
  background-color: #FFBEE0;
  font-weight: lighter;
}
#quest{
  font-size: 3em;
  color: red;
  font-weight: bold;
}
.answer{
  font-size: 2em;
}