body{
background: Cornsilk;
color:white;
}
.mine{
width: 1000px;
height: 500px;
}
.head{
background: DarkSlateGray;
height: 50px;
display: block;

}
.content{
background: Silver;
height: 400px;
width: 700px;
margin:0 auto;
display: inline-block;
font-size: 18px;
color: maroon;
}
.menu{
width: 150px;
background: DimGray;
height: 400px;
float: left;

}
.ad{
width: 150px;
background: white;
height: 400px;
color: black;
text-align: center;
float: right;
}
a{
	color:gold;
}
.liter{
text-align: center;
font-size: 40px;
}